@import "reset";
@import "typography";


.wrapper{
    position: relative;
}

.header{
    width: 100%;
    // max-width: 390px;
    position: sticky;
    top: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #E0E0E0;
    z-index: 2;

    &-logo{
        padding-left: 16px;
    }
}

.body{
    position: absolute;
    z-index: -1;
}

